*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex{
    display: flex;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

ul, ol, menu{
    list-style: none;
}
a{
    text-decoration: none;
    color: cornflowerblue;
}

header{
    background-color: lightblue;
    padding: 10px;
}
.main-nav{
    justify-content: space-between;
    align-items: center;
    background-color: goldenrod;
    border: 2px dashed black;
    padding: 10px 10px;
}
.main-menu{
    display: flex;
    gap: 20px;
}

.section-blue{
    background-color: blue;
    padding: 50px 0;
}

.first-item{
    width: 900px;
    height: 390px;
    background-color: pink;
    margin: 0 auto;
}









/* .debug *{
    border: 2px solid red;
    padding: 10px;
} */