*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.flex{
    display: flex;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

ul, ol, menu{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}

/* Layout nav */
header{
    background-color: #255EE9;
    padding: 10px;
}
.main-nav{
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}
.main-menu{
    display: flex;
    gap: 20px;
}

/* Layout main */
main section{
    padding: 80px 0;
}
.hero{
  position: relative;
}
.hero img{
    display: block;
    position: absolute;
    top: 0;
}

.hero__content{
    max-width: 900px;
    height: 390px;
    border: 2px dashed black;
    margin: 0 auto;
    flex-basis: 100%;
}

.section-grey{
    background-color: lightgray;
}
.col-1{
    background-color: cornflowerblue;
    flex-basis: 60%;
    height: 390px;
    border: 2px dashed black;
}
.col-2{
    background-color: pink;
    flex-basis: 40%;
    height: 390px;
    border: 2px dashed black;
}

.row{
    flex-direction: row-reverse;
}

.container-green{
    height: 890px;
    background-color: lightgreen;
    flex-basis: 100%;
    border: 2px dashed black;
}


/* Layout footer */
.footer-section{
    background-color: dimgray;
}

.footer-grid{
    padding: 10px 0 40px 0;
    margin-bottom: 2px;
}
.credits-section{
    padding-top: 30px;
}
.footer-col-2{
    background-color: lightcoral;
    flex-basis: 33.33%;
    height: 500px;
    border: 2px dashed black;
}
.footer-col-1{
    background-color: darkturquoise;
    flex-basis: 16.66%;
    height: 500px;
    border: 2px dashed black;
}

.footer-credits{
    justify-content: space-between;
    background-color: aquamarine;
    padding: 10px 0;
}
.footer-logo, .footer-button{
    background-color: pink;
    border: 2px dashed black;
    padding: 5px;
}



/* .debug *{
    border: 2px solid red;
    padding: 10px;
} */